* {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    border: 1px;

}

#header {
    background-color: rgb(34, 44, 187);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    align-items: center;
    color: white;
}
#logo {
    width: 5%;
    height: auto;
     }

#elMensaje{
    text-align: center;
    border: 1px;
    color: red;
    }